.banner-img-1{
    
    background-image: url("../image/iubat/iubat\ \ \(3\).jpg");
    height: 100vh;
   
    
}
.banner-img-2{
   
    background-image: url("../image/iubat/iubat\ \ \(1\).jpg");
    height: 100vh;
    
}
.banner-img-3{
    background-image: url("../image/iubat/iubat\ \ \(6\).jpg");
    height: 100vh;
    
}
.banner-img-4{
    background-image: url("../image/iubat/iubat\ \ \(2\).jpg");;
    height: 100vh;
    
}

